.exp{
    display: flex;
}
.section_text_p1{
    text-align: center;
    color:var(--clr-s800);
    align-items: center;
}
.title{
    text-align: center;
    color: var(--clr-light);
    font-size: var(--size-xl);
}

.experience-details-container{
    border: 1px solid; 
    border-color: var(--clr-s600);
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    text-align: center;
  
    
    
}

.project-img{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 1.5em; */
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    align-self: center;
    /* transform: translateY(-50%); */
}
.btn-container{
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    gap:0.5rem;
    
}
.exp__hr{
    margin-top: 6rem;
    margin-bottom: 2em;
    border-color: var(--clr-s600);
}
.project-btn{
    border-radius: 1.5rem;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-red);
    color: var(--clr-light);
    padding: 0.5em 1em;
    box-shadow: 0 10px 20px rgb(220, 38, 38,0.5), 0 6px 6px
    rgb(220, 38, 38,0.5),0 0 100px -10px var(--clr-red);
    transition: transform 0.5s,box-shadow 0.2s;
}
.project-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgb(220, 38, 38,0.25), 0 10px 10px
    rgb(220, 38, 38,0.22),0 0 120px -10px var(--clr-red);  

}
.project-title{
    margin: 1em 0 1em;
    text-align: center;
}



/* .contact_info{
    display: flex;
    color: var(--clr-light);
    text-decoration: none;
    padding-right: 0.5em;
}
.contact-items{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: var(--size-lg);
    
    
}
.contact-container{
    align-content: center;
    border: 1px solid ;
    border-color: var(--clr-s600);
    border-radius: 1.5rem;
}
.icons{
    vertical-align: bottom;
}
@media (min-width: 475px){
    .contact-items{
        font-size: var(--size-sm);
        flex-direction: column;
        
    } 
}
@media (min-width: 768px){
    .contact-items{
        font-size: var(--size-lg);
        flex-direction: row;
       
    } 
} */

.contact-upper-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid;
    border-color: var(--clr-s600);
    /* margin:2rem auto; */
    padding:0.5rem;
}
.contact-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin:1rem;
}
.contact_info{
    display: flex;
    color: var(--clr-light);
    text-decoration: none;
    padding-right: 0.5em;
}
.icons{
    margin-right: 0.5em;
    font-size: var(--size-xl);
    color: rgb(246, 63, 30);
}
.icons1{
    margin-right: 0.5em;
    font-size: var(--size-xl);
    color: rgb(26, 225, 236);
}
@media (min-width: 475px){
    .contact-upper-container{
        
        flex-direction: column;
        
    } 
    .contact_info{
        font-size: var(--size-m);
    }
}
@media (min-width: 768px){
    .contact-upper-container{
      
        flex-direction: column;
       
    }
    .contact_info{
        font-size: var(--size-xl);
    }
    
 }
 @media (min-width: 1024px){
    .contact-upper-container{
      
        flex-direction: row;
       
    }
 }